.hero-container {
  background-image: url('/assets/images/O7MF5N0.jpg');
  background-size: cover;
  @extend .p-md-5;
}

.hero-jumbotron {
  @extend .jumbotron;
  // padding: map-get($spacers, 5) * 2;
  color: $white;
  background: transparent;
}