.section-header {
  color: $primary;
  text-align: center;
}

.home-section {
  p.lead {
    @extend .my-md-5;
    @extend .mx-md-5;
    font-size: 1.4rem;
    text-align: center;
  }
}

.force-section {
  background: #eee;

  .slider {
    @extend .my-md-5;
  }
}


.force-header {
  color: $primary;
  h3 {
    text-transform: capitalize;
  }
}

.force-illustration {
  img {
    max-width: 100%;
    @extend .my-3;
    @extend .my-md-5;
    
  }
}

.service-section {
  .service-item {
    @extend .py-3;
    @extend .my-5;
    text-align: center;
    img {
      @extend .my-2;
    }
    h3 {
      @extend .my-3;
      color: $primary;
      font-weight: bold;
      text-transform: capitalize;
    }
    p {
      @extend .my-5;
    }
  }
}