.section-header {
  @extend .my-5;
  color: $primary;
  text-align: center;
}

.home-section {
  p.lead {
    @extend .my-md-5;
    @extend .mx-md-5;
    font-size: 1.4rem;
    text-align: center;
  }
}

.force-section {
  background: #eee;

  .slider {
    @extend .my-md-5;
  }
}


.force-header {
  color: $primary;
  h3 {
    text-transform: capitalize;
  }
}

.force-illustration {
  img {
    max-width: 100%;
    @extend .my-3;
    @extend .my-md-5;
    
  }
}

.service-section {
  .service-item {
    @extend .my-md-5;
    text-align: center;
    img {
      @extend .my-2;
    }
    h3 {
      @extend .my-3;
      color: $primary;
      font-weight: bold;
      text-transform: capitalize;
    }
    p {
      @extend .my-5;
    }
  }
}

.expertise-brand {
  @extend .py-5;
  background-image: url('/assets/images/218.jpg');
  background-size: cover;
  text-align: center;

  .title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    @extend .my-5;    
  }

  .description {
    @extend .lead;
    @extend .my-5;
    font-size: 2rem;
    text-shadow: 0 0 2px $white;
  }
}

.tool-container {
  @extend .my-5;
  .tool-list {
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-wrap;
    @extend .flex-md-row;    
    @extend .justify-content-center;
    @extend .align-items-center;
    
  }
  img {
    @extend .m-4;
  }
}

.contact-container {
  @extend .d-flex;
  
  @extend .flex-column;
  @extend .flex-md-row;
  .contact-content-with-text {
    @extend .d-flex;
    @extend .align-items-center;
  
    .contact-content-link {
      @extend .my-2;
      @extend .mx-2;    
      font-size: .9rem;
      color: $black;
  
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.contacts {
  @extend .my-0;
  @extend .pl-md-5;
  h4 {
    color: $primary;
  }
  .contact-social-network {
    @extend .my-5;
  }

  .contact-social-network-url {
    @extend .mr-3;
    text-decoration: none;
    .fa-circle {
      color: $black;
    }
  }
}