---
layout: default
---

<div class="home">
  <div class="home-section page-section">
    <div class="container">
      <div class="section-header">
        <div class="section-header-icon">
          <i class="fa fa-angle-down fa-5x"></i>
        </div>
        <h2 id="about akatris">
          <span class="text-uppercase font-weight-bold">{{site.title | uppercase}}</span>
           - {{site.data.akatris.tagline}}
        </h2>
      </div>
      <div class="section-content">
        <p class="lead">
          {{site.data.akatris.description}}
        </p>
      </div>
    </div>
  </div>

  <div class="force-section page-section">
    <div class="container">
      <div class="section-header d-none">
        <div class="section-header-icon">
          <i class="fa fa-angle-down fa-5x"></i>
        </div>
        <h2 id="forces">
          <span class="text-uppercase font-weight-bold">{{site.title | uppercase}}</span>
           - {{site.data.akatris.tagline}}
        </h2>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-4 force-illustration">
            <img src="/assets/images/OBDL960.jpg" alt="" srcset="">
          </div>
          <div class="col-md-8 slider-container">
            <div id="force-slider" class="slider">
              {% for force in site.data.forces %}
                {% include components/force.html force=force %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="service-section page-section">
    <div class="container">
      <div class="section-header">
        <div class="section-header-icon">
          <i class="fa fa-angle-down fa-5x"></i>
        </div>
        <h2 id="forces">
          <span class="text-uppercase font-weight-bold">Nos services</span>
        </h2>
      </div>
      <div class="section-content">
        <div class="row">
          {% for service in site.data.services %}
            {% include components/service.html service=service %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="fluid expertise-brand">
      {% include components/expertise-brand.html expertise=site.data.expertise %}
    </div>
    <div class="tool-container">
      {% include components/tools.html tools=site.data.expertise.tools %}
    </div>
  </div>
  0341265396
  {% include components/button-up.html  %}
</div>
